#Name: ScientiFig
#Author: Benoit Aigouy

Plugins>ScientiFig, "ScientiFig", GUIs.ScientiFig_
Plugins>ScientiFig, "FiguR", GUIs.FiguR_
Plugins>ScientiFig, "Online Help", Tools.Help_("http://srv-gred.u-clermont1.fr/labmirouse/software/")
Help>About Plugins, "About ScientiFig...", Tools.Help_("http://srv-gred.u-clermont1.fr/labmirouse/software/")
#File>Save As, "ScientiFig (Save As SVG)...", GUIs.ScientiFig_("save as SVG") //marche mais totalement inutile
File>Import, "ScientiFig .yf5m files...", GUIs.ScientiFig_("import")
Edit>Options, "ScientiFig Options...", GUIs.ScientiFig_("options")